body {
  background-color: antiqueWhite;
}

/* index.html */

.loader {
  background-color: black;
  color: white;
}

.percent{
	color: red;
    font-weight: bold;
}

footer {
  text-align: center;
  background-color: DarkSalmon;
  color: white;
  width: 101%;
}

.pop-up-text {
  position: relative;
  display: inline;
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.pop-up {
  line-height: 1.5;
  font-size: 14px;
  width: 200px;
  background-color: white;
  position: absolute;
  top:100%;
  left:0;
  border: 2px solid black;
  padding: 10px;
  display: none;
  color: black;
  z-index: 10;
}

.pop-up-text:hover .pop-up {
  display: block;
}

.class{
	font-weight: 800;
}

#demo {
  font-size: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
  padding: 200px 0;
  text-align: center;
}

/* home.html */

.jumbotron {
  background-color: navajoWhite;
}

/* Text Animation */

.animate-bottom {
  position: relative;
  animation-name: animate;
  animation-duration: 1s;
}

@keyframes animate {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  text-align: center;
}

/* Slideshow */

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #bdb76b;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.activer,
.dot:hover {
  background-color: #ff0000;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: dodgerblue;
}

/* Collapsible Boxes */

.collapsible {
  background-color: #808080;
  color: white;
  cursor: pointer;
  padding: 21px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
}


.collapsible:hover {
  background-color: darkgreen;
}

.happy:hover{
  background-color: darkRed;
}

.content {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  background-color: white;
  
  
  .collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activer:after {
  content: "\2212";
}
